body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:relative;
  left:-24px;
  width:644px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:31px;
  width:175px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1171 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1171_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:93px;
  width:438px;
  height:21px;
  display:flex;
  font-size:14px;
}
#u1172 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:69px;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:126px;
  width:617px;
  height:69px;
  display:flex;
}
#u1173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:236px;
  width:156px;
  height:15px;
  display:flex;
}
#u1174 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1174_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:67px;
  background:inherit;
  background-color:rgba(64, 64, 64, 0.247058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans S Chinese ', 'Noto Sans S Chinese', sans-serif;
  font-weight:350;
  font-style:normal;
  font-size:16px;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:272px;
  width:92px;
  height:67px;
  display:flex;
  font-family:'Noto Sans S Chinese ', 'Noto Sans S Chinese', sans-serif;
  font-weight:350;
  font-style:normal;
  font-size:16px;
}
#u1175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:67px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans S Chinese ', 'Noto Sans S Chinese', sans-serif;
  font-weight:350;
  font-style:normal;
  font-size:16px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:272px;
  width:92px;
  height:67px;
  display:flex;
  font-family:'Noto Sans S Chinese ', 'Noto Sans S Chinese', sans-serif;
  font-weight:350;
  font-style:normal;
  font-size:16px;
}
#u1176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:67px;
  background:inherit;
  background-color:rgba(64, 64, 64, 0.247058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans S Chinese ', 'Noto Sans S Chinese', sans-serif;
  font-weight:350;
  font-style:normal;
  font-size:16px;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:272px;
  width:92px;
  height:67px;
  display:flex;
  font-family:'Noto Sans S Chinese ', 'Noto Sans S Chinese', sans-serif;
  font-weight:350;
  font-style:normal;
  font-size:16px;
}
#u1177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:67px;
  background:inherit;
  background-color:rgba(64, 64, 64, 0.247058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans S Chinese ', 'Noto Sans S Chinese', sans-serif;
  font-weight:350;
  font-style:normal;
  font-size:16px;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:272px;
  width:92px;
  height:67px;
  display:flex;
  font-family:'Noto Sans S Chinese ', 'Noto Sans S Chinese', sans-serif;
  font-weight:350;
  font-style:normal;
  font-size:16px;
}
#u1178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:306px;
  width:0px;
  height:0px;
  font-family:'Noto Sans S Chinese ', 'Noto Sans S Chinese', sans-serif;
  font-weight:350;
  font-style:normal;
  font-size:16px;
}
#u1179_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:65px;
  height:10px;
}
#u1179_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1179_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:306px;
  width:0px;
  height:0px;
  font-family:'Noto Sans S Chinese ', 'Noto Sans S Chinese', sans-serif;
  font-weight:350;
  font-style:normal;
  font-size:16px;
}
#u1180_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:32px;
  height:10px;
}
#u1180_seg1 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1180_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:306px;
  width:0px;
  height:0px;
  font-family:'Noto Sans S Chinese ', 'Noto Sans S Chinese', sans-serif;
  font-weight:350;
  font-style:normal;
  font-size:16px;
}
#u1181_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:34px;
  height:10px;
}
#u1181_seg1 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1181_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:67px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans S Chinese ', 'Noto Sans S Chinese', sans-serif;
  font-weight:350;
  font-style:normal;
  font-size:16px;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:272px;
  width:92px;
  height:67px;
  display:flex;
  font-family:'Noto Sans S Chinese ', 'Noto Sans S Chinese', sans-serif;
  font-weight:350;
  font-style:normal;
  font-size:16px;
}
#u1182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:306px;
  width:0px;
  height:0px;
  font-family:'Noto Sans S Chinese ', 'Noto Sans S Chinese', sans-serif;
  font-weight:350;
  font-style:normal;
  font-size:16px;
}
#u1183_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:73px;
  height:10px;
}
#u1183_seg1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-16px;
  width:32px;
  height:32px;
}
#u1183_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans S Chinese ', 'Noto Sans S Chinese', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:272px;
  width:32px;
  height:22px;
  display:flex;
  font-family:'Noto Sans S Chinese ', 'Noto Sans S Chinese', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u1184 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1184_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans S Chinese ', 'Noto Sans S Chinese', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:272px;
  width:32px;
  height:22px;
  display:flex;
  font-family:'Noto Sans S Chinese ', 'Noto Sans S Chinese', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
}
#u1185 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1185_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
